.list_block{
    position: relative;
    top: 90px;    
    width: 60%;
    margin: 0 auto;
    color: #800000;
}
.list_row{
    height: 20px;
    line-height: 20px;
    padding-left: 20px;
    background-color:#FFF8DC;
}
.header{
    position: absolute;
    top: 0;
    display: block;
    background-color: #BC8F8F;
    text-align: center;
    width: 100%;
    height: 75px;
}
